/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

/* Pink: #FB94A7
Purple: #5643DE
Turquoise: #56F5DA */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #444;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Itim', cursive;
}