/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

/* Pink: #FB94A7
Purple: #5643DE
Turquoise: #56F5DA */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #444;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Itim', cursive;
    padding: 50px;
    background: linear-gradient(to bottom left, #FB94A7, #5643DE);
    height: 100vh;

    display: flex;

    /* cross axis */
    align-items: center;

    /* main axis */
    justify-content: center;
}

.pasta {
    max-width: 800px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 30px 80px 10px rgba(0,0,0, .2);

    display: flex;
    align-items: center;
}

.pasta__hero {
    flex: 0 0 45%;
}

.pasta__img {
    width: 100%;
    display: block;
}

.pasta__content {
    flex: 1;
    background: white;
}

.pasta__price {
    flex: 0 1 50%;
    background: linear-gradient(to bottom left, #FB94A7, #5643DE);
}